# AZURE STORAGE
AZURE_STORAGE_CONNECTION_STRING=""

# OPENAI / LLM
OPENAI_API_KEY=""

# AZURE OPENAI (optional)
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHAT_DEPLOYMENT=""

# EMBEDDING MODEL (optional)
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""

# AZURE AI SEARCH
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

# AZURE VIDEO INDEXER
AZURE_VI_NAME=""
AZURE_VI_LOCATION=""
AZURE_VI_ACCOUNT_ID=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""

# AZURE MONITORING / APP INSIGHTS
APPLICATIONINSIGHTS_CONNECTION_STRING=""

# LANGCHAIN / LANGSMITH
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=""
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""